* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: red;
}

body {
  background-color: grey;
}

.maze {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  color: #000000;
  font-family: "Bungee Inline", cursive;
}
