* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: red;
}

body {
  background-color: grey;
}

.maze {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#settings {
  position: absolute;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 50px;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-size: 0.8rem;
  z-index: 2;
}

.complete {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background: #000000;
  z-index: 4;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  color: #000000;
  font-family: "Bungee Inline", cursive;
}
